.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}

.horizontal-card {
    position: relative;
    display: flex;
    margin-bottom: 1rem;
}

.horizontal-card img {
    width: 200px;
    height: 130px;
}

.horizontal-card .horizontal-card-body {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.horizontal-card .horizontal-card-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}

.horizontal-card .horizontal-card-footer span {
    width: 200px;
    display: inline-block;
    margin: 50px;
}

.horizontal-card .horizontal-card-footer a {
    margin-left: 10px;
}